<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form #authFormRef="ngForm" (ngSubmit)="onFormSubmit(authFormRef)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          #emailRef="ngModel"
          email
          ngModel
          required
        />
        <span class="help-block text-danger"
    *ngIf="emailRef.touched && !emailRef.valid">Please enter a valid email.</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          minlength="6"
          #passRef="ngModel"
          ngModel
          required
        />
        <span class="help-block text-danger"
    *ngIf="passRef.touched && !passRef.valid">Please enter a valid password.</span>
      </div>
      <button class="btn btn-primary mr-3" type="submit" [disabled]="!authFormRef.valid">
        {{ isLoginMode ? 'Sign In' : 'Sign Up' }}</button>

      <button class="btn btn-secondary" type="button" (click)="onSwitchAuthMode()">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Sign In' }}</button>
    </form>
    <p class="alert alert-danger mt-3" *ngIf="errMsg">{{ errMsg }}</p>
  </div>
</div>
